<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Discounted Products</div>
        <div class="panel-body"><img src="/images/sale1.jpg" class="img-responsive image-block" style="width:100%;" alt="Image"></div>
        <div class="panel-footer">Buy upto 50% deals on all products</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">End Off Season Sale</div>
        <div class="panel-body"><img src="/images/sale2.jpg" class="img-responsive image-block" alt="Image"></div>
        <div class="panel-footer">End of season sale upto 50% off</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Electonics Sales</div>
        <div class="panel-body"><img src="/images/sale3.jpg" class="img-responsive image-block" alt="Image"></div>
        <div class="panel-footer">Turn professional anywhere, anytime</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Half Price Sale</div>
        <div class="panel-body"><img src="/images/sale4.jpg" class="img-responsive image-block" alt="Image"></div>
        <div class="panel-footer">Buy branded product with half price</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Festive Season Sale</div>
        <div class="panel-body"><img src="/images/sale5.jpg" class="img-responsive image-block" alt="Image"></div>
        <div class="panel-footer">This festive get more with more discounts</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Online Mobile Sales</div>
        <div class="panel-body"><img src="/images/sale6.jpg" class="img-responsive image-block" alt="Image"></div>
        <div class="panel-footer">Buy any mobile and get a gift card</div>
      </div>
    </div>
  </div>
</div><br><br> 