<div class="row">
  <div class="col-sm-12 col-md-12">
    <span>{{vm.selectedCategory.name}}</span>      
  </div>  
</div>
<div class="row product-row" >
  <div class="col-sm-6 col-md-4" ng-repeat="product in vm.products">
    <div class="thumbnail">
      <img src="{{product.imgUrl}}" alt="...">
      <div class="caption">
        <span>{{product.name}}</span>
        <br>
        <button type="button" class="btn btn-primary" ng-click="vm.goToCart()">Buy</button>
        <span>
          <strong>{{product.price}}</strong>
          <label>{{product.currency}}</label>
        </span>
        <span style="text-decoration: line-through;">
          <strong>{{product.origPrice}}</strong>
          <label>{{product.currency}}</label>
        </span>
      </div>
    </div>
  </div>
</div>